<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title>Календарь событий</title>
</head>

<body>
<div class="wrapper">
    <div class="header">
        <div class="header-text">
            События
        </div>
        <div id="menu-body" class="header-menu">
            <a href="index.php"><input type="submit" class="header-menu-item" value="все события"/></a>
            <a href="index.php?cat=2"><input type="submit" class="header-menu-item" value="наука"/></a>
            <a href="index.php?cat=3"><input type="submit" class="header-menu-item" value="профком"/></a>
            <a href="index.php?cat=1"><input type="submit" class="header-menu-item" value="спорт"/></a>
        </div>

        <a id="menu-btn" class="open-menu-btn" href="#menu">
            <div class="open-menu-btn-item"></div>
            <div class="open-menu-btn-item"></div>
            <div class="open-menu-btn-item"></div>
        </a>
    </div>

    <div class="inner-container">
        <a href="detail">
            <div class="event-item <?php echo $css_class ?>">
                <div class="event-item-header">
                    <div class="event-date">
                        <?php echo str_replace("-", ".", $row["event_date"]) ?>
                    </div>
                    <img class="event-ico" src="./static/ico/" alt=""/>
                </div>
                <div class="event-item-info">
                    <div class="event-title">
                    </div>
                    <div class="event-desc">
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="footer">НКЭиВТ, 2024</div>

<script th:src="@{/js/main.js}"></script>

</body>

</html>