<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title>Календарь событий</title>
</head>

<body>
<div class="wrapper">
    <div class="header">
        <div class="header-text">
            События
        </div>
        <div class="header-menu" id="menu-body">
            <a href="/"><input class="header-menu-item" type="submit" value="все события"/></a>
            <a href="?type=science"><input class="header-menu-item" type="submit" value="наука"/></a>
            <a href="?type=prof"><input class="header-menu-item" type="submit" value="профком"/></a>
            <a href="?type=sport"><input class="header-menu-item" type="submit" value="спорт"/></a>
        </div>

        <a class="open-menu-btn" href="#menu" id="menu-btn">
            <div class="open-menu-btn-item"></div>
            <div class="open-menu-btn-item"></div>
            <div class="open-menu-btn-item"></div>
        </a>
    </div>
    <div class="inner-container">
        <a href="detail">
            <div class="event-item">
                <div class="event-item-header">
                    <div class="event-date">
                    </div>
                    <img alt="" class="event-ico" src="./static/ico/"/>
                </div>
                <div class="event-item-info">
                    <div class="event-title">
                    </div>
                    <div class="event-desc">
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

<!--<div th:replace="fragments/footer :: footer"></div>-->

<script th:src="@{/js/main.js}"></script>

</body>

</html>